<%= render 'navbar' %>
	<div id="blog" class="section md-padding bg-white">
		<!-- Container -->
		<div class="container" id="post-body">
			<!-- Row -->
			<div class="row">
				<!-- Section header -->
				<div class="section-header text-center col-md-12">
					<h2 class="title">Blog</h2>
				</div>
				<!-- /Section header -->
				<!-- blog -->
      
		          <% @posts.each do |post| %>
		          <div class="col-lg-4 col-md-6 col-sm-12">
		  		  	<div class="blog-card">
		  		  		<div class="blog-box">
				  			<div class="blog-img">
					            <% if post.image.url %>
					            	<img class="img-responsive" src="<%= post.image.url %>" alt="postImg">
					  			<% else %>
					  				<img class="img-responsive" src="vacancy.png" alt="noImg">
					            <% end %> 
				         	</div>
					         <div class="blog-content">
					  			<div class="blog-title">
					  				<h3><%= link_to post.title, post %></h3>
					  			</div>
					  			<p><%= post.content %></p>
					           
					            <%= link_to 'Show', post, class: "editors" %> 
					            <%= link_to 'Edit', edit_post_path(post), class: "editors" %> 
					            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "editors" %> 
							 </div>
							 
				    	  </div>
				  	    </div>
				  	 </div>
		      		<% end %>      
		  		</div>
	  		<%= paginate @posts %>
	  		<%= link_to '글 작성하기', new_post_path %>
  			</div>
		</div>      		
	<br>
	
	<%= render 'footer' %>